* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    margin: auto;
    width: 800px; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;    
  }


section{
    height: 150px;
}

section#hero{ 
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

section#project{ 
    background-color: aquamarine;
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;

}

 h2 {
    font-size: 2rem;
    text-align: center;
    

}
h3{
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.project-detail{
    border: 3px solid bl;
    border-radius: 10px;
    width: 150px;
    margin: 20px;
}

.project-detail img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;


}
nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color:beige;
    text-transform: uppercase;
}

section#contact{ 
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    
       
}

section#contact h1{
    font-size: 1rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
    
}

section#contact h2{
    font-size: 1rem;
    text-align: left;
    padding-top: 5x;
    padding-bottom: 5px;
}
section#contact h3{
    font-size: 1rem;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
section#contact h4{
    font-size: 1rem;
    text-align: left;
    padding-top: 5x;
    padding-bottom: 5px;
    
}